{% extends "_layout.twig" %}

{% block title %}Porter Task Management{% endblock %}

{% block content %}
<div class="home-screen">
    <h1>Porter Task Management</h1>
    <p class="current-date">{{ now|date('l, F j, Y') }}</p>
    
    <div class="shift-buttons">
        <a href="{{ url('shift/day') }}" class="btn btn-primary btn-lg">Start Day Shift</a>
        <a href="{{ url('shift/night') }}" class="btn btn-primary btn-lg">Start Night Shift</a>
    </div>
    
    <div class="archive-button">
        <a href="{{ url('shift/archive') }}" class="btn btn-secondary">Shift Archive</a>
    </div>
</div>
{% endblock %}
